<ion-view view-title="Browse">
  <ion-content style="background: #E4EBF3;">
    <!-- <h1>Browse</h1> -->
    <div class="card">
      <div ng-click="redirect()" class="item item-thumbnail-left item-text-wrap bd-item item-red">
        <img src="img/1.png">
        <h2>This is a basic Card which contains.</h2>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left item-text-wrap bd-item item-teal">
        <img src="img/2.png">
        <h2>This is a basic Card which contains.</h2>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left item-text-wrap bd-item item-yellow">
        <img src="img/3.png">
        <h2>This is a basic Card which contains.</h2>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left item-text-wrap bd-item item-green">
        <img src="img/4.png">
        <h2>This is a basic Card which contains.</h2>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left item-text-wrap bd-item item-orange">
        <img src="img/5.png">
        <h2>This is a basic Card which contains.</h2>
      </div>
    </div>

  </ion-content>
</ion-view>
